<% for(let i=0; i < tasks.length; i++) {%>
<tr>
    <th scope="row"><%= i+1 %></th>
    <td><%= tasks[i].series%></td>
    <td><%= tasks[i].name%></td>
    <td><%= tasks[i].status%></td>
    <td>
        <a href="/update_activities?id=<%= tasks[i]._id%>" class="btn btn-warning">u</a>
        <a href="#" class="btn btn-danger">d</a>
    </td>
</tr>
<%}%>