<% for(let i=0; i < tasks.length; i++) {%>
<tr>
    <th scope="row"><%= i+1 %></th>
    <td><%= tasks[i].series%></td>
    <td><%= tasks[i].name%></td>
    <td><%= tasks[i].status%></td>
    <td>
        <a href="/update_activities?id=<%= tasks[i]._id%>" class="btn btn-warning btn-ud">u</a>
        <form action="/api/taskdel/<%= tasks[i]._id%>" method="POST" class="btn-ud">
            <button class="btn btn-danger">d</button>
        </form>
    </td>
</tr>
<%}%>